<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Nine Dice Board Game Library</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/games">Collection</a></li>
        <li><a href="/loans">Loans</a></li>
        <li><a href="/loans/new">New Loan</a></li>
      </ul>
      <%= yield %>
  </body>
</html>
