nav {
grid-area: 1 / 1 / span 1 / span 3;
align-content: left;
display: flex;
align-items: center;
justify-content: space-around;
background: #ffffffd0;
}

nav ul li {
  display: inline-block;
    margin-left:30px;
    margin-right:30px;
}

nav ul li:first-child {
    margin-left:0px;
}
nav ul li:last-child {
  margin-right: 0px;
}


nav ul a {
  color: #ffffff;
  font-style: normal;
  text-decoration: none;
}
