body {
  font-family: 'Lato', sans-serif;
  font-size: 0.9rem;
  background: url('/images/cube-568059.jpg')  no-repeat center center fixed;
  background-size: cover;
}

h2 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 3.5ch
}
h3 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 3ch
}
h4 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 2.5ch
}

.grid {
  display: grid;
  width: auto;
  height: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 5% 5% 1fr;
  grid-gap: 20px 10px;
  padding: 0 20px;
  grid-auto-flow:
}

.entry a {
  text-decoration: none;
  color: #000000;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 2.5ch
}

.entry {
  grid-area: auto / auto / span 1/ span 1;
  flex-direction: column;
  background-color: #ffffffd0;
  padding: 15px;
  padding-top: 5px;
  border-radius: 10px;
}

.edit {
  grid-area: 3/ auto / span 3/ span 3;
  background-color: #ffffffd0;
  padding: 15px;
  padding-top: 5px;
  align-content: center;
  text-align: center;
  line-height: 2.5;
  border-radius: 10px;

}

.create_new {
  grid-area: span 1 / span 3 ;
  background-color: #ffffffd0;
  padding: 10px;
  border-radius: 5px;
  align-content: center;
  text-align: center;
  line-height: 2.5;
  text-decoration: none;
  color: #000000;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 2.5ch
}

.error_message {
  grid-area: span 1 / span 3 ;
  background-color: #ffffffd0;
  padding: 10px;
  border-radius: 5px;
  align-content: center;
  text-align: center;
  line-height: 0.8;
}

/* font-family: 'Lato', sans-serif;
font-family: 'Yanone Kaffeesatz', sans-serif; */
