body {
  font-family: 'Lato', sans-serif;
  font-size: 0.9rem;
  background: url('/images/cube-568059.jpg');
   background-repeat: no-repeat;
  background-size: 100vmax
}

.grid {
  display: grid;
  width: auto;
  height: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 5% 1fr 1fr;
  grid-gap: 20px 10px;
  padding: 0 20px;
  grid-auto-flow: row;
}

.entry {
  grid-area: span 1/ span 1;
  flex-direction: column;
  align-items: flex-start;
  background-color: #ffffffd0
}

.edit {
  grid-area: 2/ 1/ span 3/ span;
  background-color: #ffffffd0
}


/* font-family: 'Lato', sans-serif;
font-family: 'Yanone Kaffeesatz', sans-serif; */
