<form class="edit" action="/customers" method="post">

  <label for="badge_number">Badge Number:</label>
  <input type="number" name="badge_number" value="%>">
  <br />
  <label for="name">Name:</label>
  <input id="Name" type="text" name="name" value="" />
  <br />
  <input type="submit" value="Add Customer" />

</form>
