<form action="/customers" method="post">

  <label for="badge_number">Badge Number:</label>
  <input type="number" name="badge_number" value="%>">

  <label for="name">Name:</label>
  <input id="Name" type="text" name="name" value="" />

  <input type="submit" value="Add Customer" />

</form>
